/* MAIN STYLES */
:root {
  --main-font-color: #252525;
  --accent-font-color: #54cf5a;
  --muted-font-color: #6d80a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1270px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

/* HOME PAGE STYLES */
.home {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background: url("./assets/background.jpg");
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-container {
  padding: 3rem 22rem 0;
}

.home-container__text h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.home-container__text p {
  padding: 3rem 0 0;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.home-container__drop {
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  width: 100%;
  top: 4rem;
  height: 20rem;
  background: #fff;
  padding: 2rem;
}

.home-container__drop-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #dce3f0;
  border-radius: 2rem;
  border-style: dashed;
  width: 100%;
  height: 100%;
}

.home-container__drop-inner p {
  padding: 0 0 2rem;
  font-size: 20px;
  text-align: center;
}

.home-container__drop-inner input[type="button"] {
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #dce3f0;
  font-size: 16px;
  cursor: pointer;
  background: none;
  padding: 1rem;
}

.home-features {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.home-features__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.home-features__header h1 {
  color: var(--accent-font-color);
  font-size: 46px;
}

.home-features__header p {
  max-width: 35%;
  line-height: 1.7;
  color: var(--muted-font-color);
  font-size: 18px;
}

.home-features__body {
  margin-top: 6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.home-features__body-item {
  display: flex;
}

.home-features__body-item svg {
  font-size: 4rem;
  margin-right: 1rem;
}

.home-features__body-item div {
  width: 15rem;
}

.home-features__body-item div h1 {
  color: var(--accent-font-color);
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.home-features__body-item div p {
  color: var(--muted-font-color);
  font-size: 18px;
  line-height: 1.7;
}

.home-info {
  margin: 9rem 0rem;
  display: flex;
}

.home-info img {
  max-width: 600px;
}

.home-info__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-info__item h1 {
  color: var(--accent-font-color);
  font-size: 64px;
  margin-bottom: 2rem;
}

.home-info__item p {
  color: var(--muted-font-color);
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 4rem;
}

.home-info__item a {
  padding: 1rem 2rem;
  background: #3b3950;
  border-radius: 1rem;
  color: #fff;
}
