:root {
  --main-font-color: #3F36A4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}
