.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin: 1rem 0 2rem;
}

.navbar-logo a {
  color: var(--accent-font-color);
}

.navbar-links ul {
  display: flex;
  list-style-type: none;
}

.navbar-links ul li a {
  padding: 0px 30px;
  transition: 0.1s ease-in;
}

.navbar-links ul li a:hover {
  color: var(--accent-font-color);
}

.navbar-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-auth a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}

.navbar-auth a:hover {
  color: var(--accent-font-color);
}

.navbar-auth img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 1rem;
}

.navbar-auth__signup {
  font-size: 16px;
  color: #fff;
  background: var(--accent-font-color);
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
}
